{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  {% for block in section.blocks %}
    <a class="hero-content" href="#">
        <video autoplay muted loop>
            {% comment %} <source src="{{ section.settings.banner_video | video_url}}" type="video/mp4"> {% endcomment %}
        </video>
    </a>
  {% endfor %}
</div>

{% schema %}
{
    "name": "Video Banner",
    "settings": [
        {
            "type": "video",
            "id": "banner_video",
            "label": "Banner Video"
        }
    ],
    "presets": [
        {
            "name": "Video Banner"
        }
    ]
}
{% endschema %}
