.announcement{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
}
.announcement a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

