.collection-list {
    max-width: 100%;
    display: flex;
}

.collection-item {
    width: calc(33.33%);
    position: relative;
}

.collection-image-wrapper {
    max-width: 100%;
    position: relative;
}  

.collection-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collections-slider{
    display: none;
}
.collection-list-slider{
    display: none;
  
}
/* Mobile styles */
/* Mobile styles */
@media only screen and (max-width: 576px) {
    .collection-list {
        display: none;
    }
    .collection-list-slider {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* overflow-x: auto; */
        width: 100%;
        height: 400px;
    }
    .collection-image-wrapper-slider {
        width: 100%;
        height: 400px;
        position: relative;
    }
    .collection-image-slider {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .collection-item-slider {
        display: block;
        width: 100%;
        height: 400px;
    }
}

