.footer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.menu{
  display: flex;
  flex-direction: row;
  gap: 80px;
  
}
.menu_item ul {
  list-style-type: none;
  padding: 0;
}
.menu_item a{
 text-decoration: none;
}
.input {
  background: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  width: 190px;
  margin-top: 10px;

}

.input::placeholder {
  color: white;
  font-weight: bold;
  font-size: 10px;

}

#inp {
  background: none;
  border: none;
  outline: none;
}

form {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.social li {
  list-style: none;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.form{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.head{
  margin-top: 0;
}
.menu_item ul{
  margin-top: 0;
}
@media only screen and (max-width: 1024px) {
  .footer_company_information{
    margin-bottom: 60px;
    
  }
  .menu{
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.menu-item {
    padding: 20px;
    box-sizing: border-box;
}
}

