.menu-button {
    display: none;
}
.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navlinks li {
    list-style: none;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
}

.navlinks a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.navlinks li:hover {
    background-color: whitesmoke;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    height: 100%;
}

.nav-btn a {
    text-decoration: none;
}

.nav-btn {
    list-style: none;
}

.material-symbols-outlined {
    font-size: 20px;
}

.menu-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navlinks {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .cart {
        display: block !important;
    }

    .menu-button {
        display: block;
    }
}

@media only screen and (max-width: 540px) {
    /* Add any additional responsive styles here if needed */
}
