.main_product{
    display: flex;
    flex-direction: row;
    gap: 0;
}
.product-details-section{
    width: 50%;
    margin-inline-end: 5%;
    margin-inline-start: 5%;
    margin-block-start: 80px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
}
.product-images {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 50px;    
    justify-content: flex-end;
    /* padding-right: 10px; */
    padding-left: 30px;
}
.slick-slide {
    margin: 0;
    padding: 0;
}

.slider-for{
    width: 430px;
    height: 600px;
}
.mainimage img {
    max-width: 430px;
    max-height: 600px;
    object-fit: cover;
  }
  .mainimage img {
    width: 100%;
    height: auto;
    max-width: 430px;
    max-height: 600px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
  }
/* .mainimage {
/* } */
.slider-nav {
    width: 60px;
    height: auto;
    margin-top: 80px;
}
.thumbnail{
    width: 60px;
    height: 80px;
}
.thumbnail img{
    width: 60px;
    height: 80px;
    object-fit: cover;
}
.slider-nav .slick-track {
    display: flex;
    flex-direction: column;
    transform: none !important;
  } 
.slider-nav .slick-slide {
    transition: filter 0.3s, border 0.3s;
}

.slider-nav .slick-slide.slick-current{
    border: 1px solid black;
    width: 60px; 
}


.slider-nav .slick-slide:not(.slick-current) {
    filter: blur(1px); 
}
.slick-for .slick-list {
    width: 430px !important;
    height: 600px !important;
 }
 .zoomed {
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}
  .breadcrumb a,.breadcrumb span {
    font-size: .8rem; /* adjust the font size to your liking */
    color: #333; /* adjust the text color to your liking */
    /* font-weight: bold; */
    text-decoration: none; /* remove underline from links */
  }
  
  .breadcrumb a:hover {
    color: #666; /* adjust the hover color to your liking */
  }
  .button-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .button-text {
    font-size: 16px;
  }
  .add-to-cart-button{
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      background-color: #000;
      border: 1px solid #000;
      color: #fff;
      cursor: pointer;
      height: 40px;
      padding: 0 12px;
      text-transform: uppercase;
      width: 100%;
      margin-top: 1.2rem;
    }  

      .wishlist {
        display: flex;
        justify-content: space-between;
      }
      
      .wishlist button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
      }
      
      .wishlist button .material-symbols-outlined {
        font-size: 1.2rem;
        color: #000; /* You can change the color as needed */
      }
      .ptitle{
        font-size: 1.7rem;
        font-weight: lighter;
      }
    /* swatcher */
    .variant-image img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid black;
        padding: 2px; /* Adjust this value to create the desired gap */
        box-sizing: border-box; /* Ensure padding is included in the total width/height */
        margin-left: 10px;
    }
   .variant-image{
    display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
   }
   .swatcher-container{
    width: 100%;
   }
   .selected-swatch{
    height: 40px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
   .swatcher{
    width: 100%;
  border: 1px solid black;
  border-top: none;
  position: absolute;
  background-color: white;
   }
   .product-option,.variant-images{
    width: 100%;
   }
   .swatcher-expand{
    cursor: pointer;
   }
  .material-symbols-outlined {
    transition: transform 0.3s ease;
}
 .active .material-symbols-outlined {
    transform: rotate(180deg);
}
.active-swatch-bg{
  background-color: #f0f0f0;
}
/* .variant-images{
  padding-left: 10px;
} */
   @media only screen and (max-width: 560px) {
    .main_product{
      display: flex;
      flex-direction: column;
      gap: 0;
  }
  .product-details-section{
    max-width: 365px;
    width: 100%;
    padding: 24px;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    gap: .4rem;
}
.product-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0;
}
.add-to-cart-button{
  width:100% ;
}
/* .btn-addbag{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.product-images {
  justify-content: flex-start;
  position: relative;
}
.slider-nav {
  position: absolute;
  right: 20px; 
}
.slider-for {
  width: 300px;
  height: 450px;
}


   }

   