.product-grid-new {
    /* margin: 0; 
    padding: 0; */
    display: flex;
    flex-direction: row;
}

.product-card-new {
    position: relative;
    height: 28rem;
    width: 20rem;
}

.add-to-fav-new,
.add-to-cart-new,
.slick-prev-new, 
.slick-next-new {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.product-card-new:hover .add-to-fav-new,
.product-card-new:hover .add-to-cart-new,
.product-card-new:hover .slick-prev-new,
.product-card-new:hover .slick-next-new {
    opacity: 1;
    visibility: visible;
}

.product-card-new:hover .product-highlight-new {
    opacity: 0;
    visibility: hidden;              
    transition: opacity 0.3s, visibility 0.3s;
}

.img-new img {
    width: 20rem;
    height: 28rem;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.product-info-new {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-new {
    z-index: 1;
    font-size: .8rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.price-new {
    font-size: .9rem;
    font-weight: bold;
}

.product-highlight-new {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: .8rem;
    padding: 1px 1px;
    border: none; 
    letter-spacing: 1px;
}

.product-highlight-new.has-tags-new {
    border: 1px solid black; 
}

.add-to-fav-new {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.material-symbols-outlined{
    font-size: 1.2rem;
}

.add-to-cart-new {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 40px;
    border: 1px solid black;
    font-size: .6rem;
    font-weight: bold;
    background-color: gainsboro;
    cursor: pointer;
}

.pslick-prev, .pslick-next {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1000;
}

.pslick-prev:before, .pslick-next:before {
    font-family: 'FontAwesome';
    font-weight: 100 ; /* Light weight */
    font-size: .8rem;
    line-height: 1;
    opacity: 0.75;
    color: black;
}

.pslick-prev {
    left: 10px;
}

.pslick-prev:before {
    content: '\f053'; 
}

.pslick-next {
    right: 10px;
}

.pslick-next:before {
    content: '\f054';
}
.add-to-cart-form-new {
    padding: 0;
    margin: 0;
}
.product-pg-slider{
    overflow: hidden;
}
.slider-action{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:1rem 2rem;
}
.slider-head{
    font-size: 1.3rem;
}
@media only screen and (min-width: 1400px) {
.product-card-new {
    width: 386px;
    height: 510px;
}
.img-new img {
    width: 386px;
    height: 510px;
}

}
@media only screen and (max-width: 560px) {
    .product-card-new {
        width: 100%; /* Full width of the parent container */
        max-width: 360px; /* Limit width to 360px */
        height: auto; /* Adjust height as needed */
        position: relative;
    }
    .img-new img {
        width: 100%; /* Make image fill its container */
        height: 100%; /* Make image fill its container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
    }  
    
    .product-pg-slider {
        /* overflow: hidden; */
        width: 100%;
        padding: 0 30px;
        
    }
  .product-grid-new {
    display: flex;
    flex-direction: row;
    }
    .pslick-next, .pslick-prev {
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999; /* Adjust as needed */
    }
    .pslick-next {
        right: 10px;
        bottom :50px;
    }
    .pslick-prev {
        left: 10px;
    }
    .slider-action{
        padding:1rem 2rem;
    }
}