.collection-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:80px;
    padding-right: 80px;
    padding-top: 24px;
}
.collection-description > h1{
 margin: 0;
 font-size:1.5rem;
 
}
.collection-description > p{
    margin: 0;
    width: 25%;
    height: auto;
}
